{% extends "include/header.html" %}
{% load static %}

{% block title %}GASTOS POR PROYECTO{% endblock %}

{% block body %}
<style>

</style>
<div class="contenedor-tabla-alta">
    <h3 class="titulo-contenedor"><strong>PROYECTO</strong></h3>
    <h5 class="texto-contenedor mb-4">Aqui se muestra los proyectos dados de alta</h5>
    <hr class="mb-4">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 form-alta">
            <div class="card card-contenido-alta">
                <h4><strong>Formulario para dar de alta proyectos</strong></h4>
                <hr>
                {% if messages %}
                {% for message in messages %}
                <div
                    class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-primary{% endif %} notifications">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <form action="{% url 'G_Proyecto' %}" method="POST" autocomplete="off">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-4">
                            <label for="exampleInputEmail1" class="form-label"><b>FOLIO *</b></label>
                            <input type="text" class="form-control" placeholder="Ingrese el folio" name="Folio" required
                                autofocus>
                        </div>
                        <div class="col-8">
                            <label for="exampleInputEmail1" class="form-label"><b>CLIENTE *</b></label>
                            <select class="form-select" aria-label="Default select example" name="cliente" required>
                                <option selected>Seleccione un cliente</option>
                                {% for data in cliente %}
                                <option value="{{data.ID}}">{{data.Nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label"><b>NOMBRE DEL PROYECTO *</b></label>
                        <input type="text" class="form-control" placeholder="Ingrese el nombre del proyecto"
                            name="proyecto" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label"><b>DESCRIPCIÓN *</b></label>
                        <input type="text" class="form-control" placeholder="Ingrese una breve descripción"
                            name="descripcion" required>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="fechaInicio" class="form-label"><b>FECHA INICIO *</b></label>
                            <input type="date" class="form-control" id="fechaInicio" value="{{ fecha_actual }}"
                                name="fechaInicio" required>
                        </div>
                        <div class="col-6">
                            <label for="fechaFinal" class="form-label"><b>FECHA FINAL *</b></label>
                            <input type="date" class="form-control" id="fechaFinal" value="{{ fecha_actual }}"
                                name="fechaFinal" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="{% url 'T_Proyecto'%}">
                        <button type="button" class="btn btn-danger cancelarBoton">Cancelar</button>
                    </a>
                </form>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8 tabla-alta">
            <div class="card card-contenido-alta">
                <h4><strong>Tabla para ver los proyectos registrados</strong></h4>
                <hr>
                <div class="table-responsive" style="max-width: 7000px; overflow-y: auto;">
                    <table class="table table-hover custom-hover">
                        <thead>
                            <tr>
                                <th>Folio</th>
                                <th>Cliente</th>
                                <th>Proyecto</th>
                                <th>Descripcion</th>
                                <th>Estatus</th>
                                <th>F. Inicio</th>
                                <th>F. Final</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for datos in data %}
                            <tr>
                                <td>{{datos.Folio}}</td>
                                <td>{{datos.IDCliente_id__Nombre}}</td>
                                <td>{{datos.Proyecto}}</td>
                                <td>{{datos.Descripcion}}</td>
                                <td>{{datos.IDEstatus_id__Descripcion}}</td>
                                <td>{{datos.FechaInicio|date:"d/m/Y" }}</td>
                                <td>{{datos.Fechafinal|date:"d/m/Y" }}</td>
                                <td>
                                    <form action="{% url 'E_Proyecto' %}" method="POST" autocomplete="off">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{datos.ID}}" name="id">
                                        <button class="btn btn-success">Editar</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}