/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------ESTILOS PARA LA NAVEGACION--------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #ecf1ff;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------CONTENEDOR 1 INCLUDE/INDEX.HTML------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.contenedor-1 {
    background-color: #FFF;
    padding: 2rem;
    border-radius: 10px;
}

.card-contenedor-1 {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.card-text-contenedor-1 {
    font-size: 40px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------CONTENEDOR 2 INCLUDE/INDEX.HTML------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.contenedor-2 {
    background-color: #FFF;
    padding: 2rem;
    border-radius: 10px;
}

.card-contenedor-2 {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.text-curso-proyecto {
    text-align: center;
}

.card-title-contenedor-2 {
    text-align: center;
}

.card-subtitle-contenedor-2 {
    text-align: center;
}

.c2-fecha-inicio {
    text-align: center;
}

.c2-fecha-inicio-bd {
    text-align: center;
}

.c2-fecha-final {
    text-align: center;
}

.c2-fecha-final-bd {
    text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------CONTENEDOR CATALOGOLO----------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.contenedor-tabla-alta {
    background-color: #FFF;
    padding: 2rem;
    border-radius: 10px;
}

.form-alta {
    padding: 0 2rem;
}

.editar-alta {
    padding: 2rem 2rem 5rem 2rem;
    width: 35%;
    justify-content: center;
    margin: auto;


}

.tabla-alta {
    padding: 0 2rem;
}

.card-contenido-alta {
    padding: 1rem 2rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    background-color: #ecf1ff81;
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------RESPONSIVO----------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 600px) {

    /* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
    /* ------------------------------------------------------------------------CONTENEDOR 1 INCLUDE/INDEX.HTML------------------------------------------------------------------------ */
    /* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
    #sidebar.expand {
        width: 100%;
        min-width: 100%;
    }

    .titulo-contenedor {
        font-size: 16px;
    }

    .texto-contenedor {
        font-size: 14px;
    }

    .card-contenedor-1 {
        margin-bottom: 25px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    }

    .card-title-contenedor-1 {
        font-size: 16px;
    }

    .card-text-contenedor-1 {
        font-size: 25px;
        text-align: center;
        justify-content: center;
        font-weight: bold;
    }

    /* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
    /* ------------------------------------------------------------------------CONTENEDOR 2 INCLUDE/INDEX.HTML------------------------------------------------------------------------ */
    /* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

    .text-curso-proyecto {
        text-align: center;
    }

    .card-contenedor-2 {
        margin-bottom: 25px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    }

    .card-title-contenedor-2 {
        text-align: center;
        font-size: 12px;
    }

    .card-subtitle-contenedor-2 {
        text-align: center;
        font-size: 12px;
    }

    .c2-fecha-inicio {
        text-align: center;
        font-size: 12px;
    }

    .c2-fecha-inicio-bd {
        text-align: center;
        font-size: 12px;
    }

    .c2-fecha-final {
        text-align: center;
        font-size: 12px;
    }

    .c2-fecha-final-bd {
        text-align: center;
        font-size: 12px;
    }
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------ANIMACION CIRCULO EN INCLUDE/INDEX.HTML-------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@keyframes rellenar {
    to {
        stroke-dasharray: var(--porcentaje) 100;
    }
}

.porcentajes {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.porcentajes span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 25px/1em Verdana;
    width: 100%;
    height: 100%;
}

.circleGrafica {
    fill: none;
    stroke-width: 15;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-dasharray: 100 100;
    stroke: #AAA;
    filter: drop-shadow(3px 3px 6px #434343);
}

.circleGrafica:nth-child(2) {
    stroke: var(--color);
    filter: drop-shadow(3px 3px 6px var(--color));
    stroke-dasharray: 0 100;
    animation: rellenar 1s linear forwards;
}