{% extends "include/header.html" %}
{% load static %}

{% block title %}GASTOS POR PROYECTO{% endblock %}

{% block body %}
<!-- <div class="contenedor-1">
    <h3 class="titulo-contenedor"><strong>GASTOS CATEGORIA</strong></h3>
    <h5 class="texto-contenedor mb-4">Aqui se muestra el gasto por categoria en los proyectos activos</h5>
    <hr class="mb-4">

    <div class="row">
        {% for categorias in categoria %}
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="card card-contenedor-1">
                <div class="card-body">
                    <h5 class="card-title-contenedor-1"><strong>{{categorias.Descripcion}}</strong></h5>
                    <hr>
                    <p class="card-text-contenedor-1" id="{{categorias.ID}}" data-end-value="100">$ 0</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div> -->

<div class="contenedor-2">
    <h3 class="titulo-contenedor"><strong>CURSO POR PROYECTO</strong></h3>
    <h5 class="texto-contenedor mb-4">Aqui se muestra el avance transurrido en base a la fecha de inicio a la fecha de
        entrega.</h5>
    <hr class="mb-4">

    <div class="row">
        {% for proyecto in proyectos %}
        <div class="col-sm-12 col-md-4 col-lg-3">
            <form action="{% url 'D_Proyecto' %}" method="POST" autocomplete="off">
                <input type="hidden" value="{{proyecto.ID}}" name="id">
                <input type="hidden" value="{{proyecto.Folio}}" name="folio">
                <input type="hidden" value="{{proyecto.IDCliente_id__Nombre}}" name="cliente">
                <input type="hidden" value="{{proyecto.Proyecto}}" name="proyecto">
                <input type="hidden" value="{{proyecto.Descripcion}}" name="descripcion">
                <button type="submit" style="background: none; border: none; padding: 0; outline: none;">
                    {% csrf_token %}
                    <div class="card card-contenedor-2">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="card-title-contenedor-2"><strong>{{proyecto.Folio}}</strong></h5>
                                </div>
                                <div class="col-6">
                                    <h5 class="card-title-contenedor-2">
                                        <strong>{{proyecto.IDCliente_id__Nombre}}</strong>
                                    </h5>
                                </div>
                                <h5 class="card-subtitle-contenedor-2"><strong>{{proyecto.Proyecto}}</strong></h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="porcentajes"
                                style="--porcentaje: {{proyecto.porcentaje_acumulado}}; --color: blue;">
                                <svg width="180" height="180">
                                    <circle class="circleGrafica" r="60" cx="50%" cy="50%" pathlength="100" />
                                    <circle class="circleGrafica" r="60" cx="50%" cy="50%" pathlength="100" />
                                </svg>
                                <span id="{{ proyecto.Folio }}" class="h6-form"
                                    data-target="{{ proyecto.porcentaje_acumulado }}">0 <label for="">%</label></span>
                            </div>
                            <h5 class="text-curso-proyecto"><strong>Dias resantes:</strong> {{proyecto.DiasRestantes}} /
                                {{proyecto.DiasTotales}}</h5>
                            {% for monto in montoXProyecto %}
                            {% if proyecto.ID == monto.IDProyecto_id %}
                            <h5 class="text-curso-proyecto"><strong>Gasto actual:</strong> ${{ monto.total_monto|floatformat:2 }}</h5>
                            {% endif %}
                            {% endfor %}
                            <hr>
                            <h5 class="text-curso-proyecto">{{proyecto.Descripcion}}</h5>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-6">
                                    <h6 class="c2-fecha-inicio"><strong>Fecha inicio:</strong></h6>
                                    <p class="c2-fecha-inicio-bd">{{ proyecto.FechaInicio|date:"d/m/Y" }}</p>

                                </div>
                                <div class="col-6">
                                    <h6 class="c2-fecha-final"><strong>Fecha Final:</strong></h6>
                                    <p class="c2-fecha-final-bd">{{proyecto.Fechafinal|date:"d/m/Y" }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>
<script src="{% static 'assets/js/animated-value.js' %}"></script>
<script src="{% static 'assets/js/animated_porcentaje.js' %}"></script>
{% endblock %}